<div id="header" class="flex flex-row justify-between">
  <div>
    <button
      class="btn btn-primary dropdown-toggle"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Select demo
    </button>

    <button
      class="btn btn-outline-secondary"
      id="reload"
      data-toggle="tooltip"
      data-placement="right"
      title="Reload this extension page"
    >
      <i class="fa-solid fa-arrow-rotate-left"></i>
    </button>

    <a
      href="#"
      target="_blank"
      class="btn btn-outline-secondary"
      id="newtab"
      data-toggle="tooltip"
      data-placement="right"
      title="Open this page in a new tab"
    >
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>

    <ul
      class="dropdown-menu"
      style="max-height: 360px; overflow-y: auto"
      aria-labelledby="dropdownMenuButton1"
    >
      <li>
        <a class="dropdown-item" href="/components/welcome/welcome.html">
          <div>Welcome Page</div>
          <small class="text-gray-500"
            >Welcome to the Browser Extension Explorer!</small
          >
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="/components/popup/popup.html">
          <div>Popup Page</div>
          <small class="text-gray-500"
            >Experiment with the default popup page</small
          >
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="/components/options/options.html">
          <div>Options Page</div>
          <small class="text-gray-500"
            >Experiment with the default options page</small
          >
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="/components/environment-info/environment-info.html"
        >
          <div>Environment Info</div>
          <small class="text-gray-500"
            >Read information about the extension and its environment</small
          >
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="/components/url-analyzer/url-analyzer.html"
        >
          <div>Inspect Extension URL</div>
          <small class="text-gray-500"
            >Understand how extension URLs are constructed</small
          >
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="/components/chrome-tutorial/chrome-tutorial.html"
        >
          <div>Set Page Background Color</div>
          <small class="text-gray-500"
            >Use the WebExtension Storage API and content scripts to modify
            webpages</small
          >
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          href="/components/modify-toolbar-icon/modify-toolbar-icon.html"
          ><div>Modify Toolbar Icon</div>
          <small class="text-gray-500"
            >Programmatically change the extension's toolbar icon</small
          ></a
        >
      </li>
      <!-- <li>
        <a
          class="dropdown-item"
          href="/components/inspect-background/inspect-background.html"
          ><div>Background</div>
          <small class="text-gray-500">View the status of workers</small></a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="/components/worker-status/worker-status.html"
          ><div>Worker Status</div>
          <small class="text-gray-500">View the status of workers</small></a
        >
      </li> -->
      <li>
        <a class="dropdown-item" href="/components/static-dnr/static-dnr.html"
          ><div>Static Declarative Net Request</div>
          <small class="text-gray-500"
            >Experiment with static DNR rulesets</small
          ></a
        >
      </li>
      <li>
        <a class="dropdown-item" href="/components/dynamic-dnr/dynamic-dnr.html"
          ><div>Dynamic Declarative Net Request</div>
          <small class="text-gray-500"
            >Experiment with dynamic DNR rules</small
          ></a
        >
      </li>
      <!-- DBX_TARGET -->
    </ul>
  </div>

  <div id="page-title" class="text-2xl text-gray-400"></div>
</div>
