<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Declarative Net Request</title>

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="declarative-net-request.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="grid grid-cols-2 auto-rows-min place-items-stretch gap-8 max-w-5xl"
    >
      <div class="flex flex-col items-stretch">
        <div class="form-group flex flex-col items-stretch">
          <button id="static-redirect-btn" class="btn btn-outline-primary">
            Send static redirect request
          </button>

          <div class="form-text">
            Sends a GET request in the current active tab. The request will be
            redirected by the extension's static rules.
          </div>
        </div>

        <div class="form-group flex flex-col items-stretch">
          <button id="static-block-btn" class="btn btn-outline-primary">
            Send static blocked request
          </button>

          <div class="form-text">
            Sends a GET request in the current active tab. The request will be
            blocked by the extension's statuc rules.
          </div>
        </div>

        <div class="form-group flex flex-col items-stretch">
          <button id="dynamic-list-btn" class="btn btn-outline-primary">
            Get dynamic rules
          </button>

          <div class="form-text">Show the current dynamic rules</div>
        </div>

        <div class="form-group flex flex-col items-stretch">
          <button id="dynamic-add-btn" class="btn btn-outline-primary">
            Add dynamic rule
          </button>

          <div class="form-text">Adds a dynamic block rule</div>
        </div>

        <div class="form-group flex flex-col items-stretch">
          <button id="dynamic-remove-btn" class="btn btn-outline-primary">
            Clear dynamic rules
          </button>

          <div class="form-text">Removes all dynamic rules</div>
        </div>

        <div class="form-group flex flex-col items-stretch">
          <button id="dynamic-block-btn" class="btn btn-outline-primary">
            Send dynamic blocked request
          </button>

          <div class="form-text">
            Sends a GET request in the current active tab. The request will be
            blocked by the extension's dynamic rules if the rule has been added.
          </div>
        </div>
      </div>
      <div class="flex flex-col items-stretch">
        <div>
          <h1>Enabled Static Rulesets</h1>
          <pre id="static-ruleset-container"></pre>
          <h1>Enabled Static Rules</h1>
          <pre id="static-rule-container"></pre>
          <h1>Enabled Dynamic Rules</h1>
          <pre id="dynamic-rule-container"></pre>
        </div>
      </div>
    </div>

    TODO show static /get add/remove dynamic redirect send requets to content
    script

    <script src="declarative-net-request.js" type="module"></script>
  </body>
</html>
