<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="messaging.css" rel="stylesheet" />
    <script src="messaging.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="flex flex-row gap-4">
        <button id="reset" class="btn btn-warning">RESET</button>
        <button id="send-message" class="btn btn-success">
          SEND SINGLE MESSAGE
        </button>
        <button id="connect-port" class="btn btn-success">
          SEND PORT MESSAGES
        </button>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div id="outgoing-log" class="text-xs flex flex-col gap-2"></div>
        <div id="incoming-log" class="text-xs flex flex-col gap-2"></div>
      </div>
    </div>
  </body>
</html>
