<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="oauth2.css" rel="stylesheet" />
    <script src="oauth2.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div id="authenticated" class="hidden">
        <pre id="identity"></pre>

        <button class="btn btn-info" id="profileinfo">PROFILE INFO</button>

        <button class="btn btn-danger" id="logout">LOGOUT</button>
      </div>

      <div id="unauthenticated" class="hidden">
        <button class="btn btn-primary" id="login">LOGIN</button>
      </div>
    </div>
  </body>
</html>
