<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="devtools-network-panel.css" rel="stylesheet" />
    <script src="devtools-network-panel.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div>
        <button id="reset" class="btn btn-warning">RESET</button>
      </div>

      <div id="network-log" class="text-xs flex flex-col gap-2"></div>
    </div>
  </body>
</html>
