.slot,
.exboost-container {
  display: flex;
  flex-direction: column;
}

.slot {
  margin-top: 8rem;
  place-items: center;
}

.exboost-container {
  gap: 1rem;
  place-items: stretch;
}

.exboost-link {
  text-decoration: none;
  color: white;
  background-color: gray;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  opacity: 0.8;
}

.exboost-link:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}
