<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/assets.js"></script>

    <link href="popup.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex flex-col justify-start items-stretch gap-4">
      <div>This is the popup page.</div>

      <div>
        You can open and close it using the keyboard shortcut Ctrl+Shift+F.
      </div>
    </div>

    <script src="popup.js" type="module"></script>
  </body>
</html>
