<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popup Page</title>

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="popup.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid auto-rows-min place-items-stretch gap-8 max-w-5xl">
      <div class="text-center">
        You can open and close the popup page using the keyboard shortcut
        Ctrl+Shift+F.
      </div>

      <div class="dropdown grid place-items-center">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Set default popup page to...
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <button id="popup-default" class="dropdown-item">Popup Page</button>
          </li>
          <li>
            <button id="welcome-default" class="dropdown-item">
              Welcome Page
            </button>
          </li>
        </ul>
      </div>
    </div>

    <script src="popup.js" type="module"></script>
  </body>
</html>
