<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="content-script-manager.css" rel="stylesheet" />
    <script src="content-script-manager.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">


      <button id="toggle-content-script-widget" class="btn btn-secondary">Toggle content script widget</button>
    </div>
  </body>
</html>
