<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/scripts/tailwind.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <link href="/styles/bootstrap.css" rel="stylesheet" />
    <link href="/styles/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="open-pages.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid auto-rows-min place-items-center gap-8 example-wrapper">
      <button class="btn btn-outline-primary">Open via link</button>
    </div>

    <script src="open-pages.js" type="module"></script>
  </body>
</html>
