<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="welcome.css" rel="stylesheet" />
    <script src="welcome.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <h1 class="text-4xl">Welcome to the Browser Extension Explorer!</h1>

      <p class="text-lg">
        This extension is a collection of open source examples demonstrating how
        the various parts of browser extensions work.
      </p>

      <p class="text-lg">
        In order to make the source code easy to understand, it intentionally
        uses <strong>zero</strong> automated build tools. This means you can
        clone this project and immediately load the extension into your browser
        as-is.
      </p>

      <p class="text-lg">
        Source code for each page can be found in the page footer, and the
        <a
          href="https://github.com/msfrisbie/demo-browser-extension"
          target="blank"
          class="btn-link"
          >full source code can be found here</a
        >
      </p>
    </div>
  </body>
</html>
