<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="welcome.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid auto-rows-min place-items-stretch gap-8 max-w-5xl">
      <h1 class="text-4xl">Welcome to the Browser Extension Explorer!</h1>

      <p class="text-lg">
        This extension is a collection of open source examples demonstrating how
        the various parts of browser extensions work.
      </p>

      <p class="text-lg">
        In order to make the source code easy to understand, it intentionally
        uses <strong>zero</strong> automated build tools. This means you can
        clone this project and immediately load the extension into your browser
        as-is.
      </p>

      <a
        href="https://github.com/msfrisbie/demo-browser-extension"
        target="blank"
        class="btn-link text-lg"
        >Source code can be found here</a
      >
    </div>

    <script src="welcome.js" type="module"></script>
  </body>
</html>
