<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <script src="/scripts/vendor/lodash.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="devtools-inspected-window-panel.css" rel="stylesheet" />
    <script src="devtools-inspected-window-panel.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="card">
        <pre id="resources" class="card-body"></pre>
      </div>
    </div>
  </body>
</html>
