<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <script src="/scripts/vendor/lodash.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="environment-info.css" rel="stylesheet" />
    <script src="environment-info.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="card">
        <pre class="card-header">chrome.runtime.getURL()</pre>
        <div class="card-body">
          <pre class="card-text text-xs" id="url"></pre>
        </div>
      </div>

      <div class="card">
        <pre class="card-header">chrome.runtime.getManifest()</pre>
        <div class="card-body">
          <pre class="card-text text-xs" id="manifest"></pre>
        </div>
      </div>

      <div class="card">
        <pre class="card-header">chrome.runtime.getPlatformInfo()</pre>
        <div class="card-body">
          <pre class="card-text text-xs" id="platform-info"></pre>
        </div>
      </div>

      <div class="card">
        <pre class="card-header">chrome.extension.getViews()</pre>
        <div class="card-body">
          <pre class="card-text text-xs" id="views"></pre>
        </div>
      </div>
    </div>
  </body>
</html>
