<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="screenshot.css" rel="stylesheet" />
    <script src="screenshot.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <button
          id="capture-visible-tab"
          class="btn btn-outline-primary font-mono"
        >
          chrome.tabs.captureVisibleTab()
        </button>
        <button id="page-capture" class="btn btn-outline-primary font-mono">
          chrome.pageCapture.saveAsMHTML()
        </button>
        <button id="tab-capture" class="btn btn-outline-primary font-mono">
          chrome.tabCapture.capture()
        </button>
        <button id="desktop-capture" class="btn btn-outline-primary font-mono">
          chrome.desktopCapture.chooseDesktopMedia()
        </button>
      </div>

      <img class="drop-shadow-2xl" id="img-output" style="display: none" />
      <video id="stream-output" style="display: none"></video>

      <a
        id="download-image"
        download="image.jpeg"
        class="btn btn-outline-success"
        style="display: none"
        >DOWNLOAD</a
      >
      <a
        id="download-mhtml"
        download="page.mhtml"
        class="btn btn-outline-success"
        style="display: none"
        >DOWNLOAD</a
      >
    </div>
  </body>
</html>
