<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/assets.js"></script>

    <link href="url-analyzer.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid auto-rows-min gap-8 gap-4">
      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Full URL:</span>
          </div>

          <input id="url" type="text" class="form-control" autocomplete="off" />
        </div>

        <div class="form-text">The full URL of this page.</div>
      </div>

      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Protocol:</span>
          </div>

          <input
            id="protocol"
            type="text"
            class="form-control"
            autocomplete="off"
          />
        </div>

        <div class="form-text">
          Indicates to the browser this request should be routed to the
          extension.
        </div>
      </div>

      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Hostname:</span>
          </div>

          <input
            id="hostname"
            type="text"
            class="form-control"
            autocomplete="off"
          />
        </div>

        <div class="form-text">ID of the extension</div>
      </div>

      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Pathname:</span>
          </div>

          <input
            id="pathname"
            type="text"
            class="form-control"
            autocomplete="off"
          />
        </div>

        <div class="form-text">
          Path to the actual HTML file in the extension directory
        </div>
      </div>
    </div>

    <script src="url-analyzer.js" type="module"></script>
  </body>
</html>
