<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs Viewer</title>

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="tabs-viewer.css" rel="stylesheet" />
  </head>
  <body>
    <div
      id="windows-container"
      class="grid grid-cols-2 auto-rows-min place-items-stretch gap-8 max-w-5xl"
    ></div>

    <script src="tabs-viewer.js" type="module"></script>
  </body>
</html>
