<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="sidepanel.css" rel="stylesheet" />
    <script src="sidepanel.js" type="module" defer></script>
  </head>
  <body>
    <div id="content" class="p-3">
      <div class="flex items-center gap-2 mb-3">
        <label for="windowSelect" class="text-sm">Window:</label>
        <select id="windowSelect" class="form-select"></select>
      </div>

      <button id="openSidePanel" class="btn btn-secondary">
        Open Side Panel in Selected Window
      </button>
    </div>
  </body>
</html>
