<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="navigation-events.css" rel="stylesheet" />
    <script src="navigation-events.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div class="flex flex-row gap-4">
        <button id="reset" class="btn btn-warning">RESET</button>
        <button id="create-tab" class="btn btn-success">NEW TAB</button>
      </div>

      <div id="navigation-log" class="text-xs flex flex-col gap-2"></div>
    </div>
  </body>
</html>
