<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <script src="/scripts/vendor/lodash.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="api-test.css" rel="stylesheet" />
    <script src="api-test.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <h1 class="text-2xl">METHODS</h1>
      <div id="api-list"></div>
      <h1 class="text-2xl">VALUES</h1>
      <div id="values-list" class="grid grid-cols-2 gap-8"></div>
    </div>
  </body>
</html>
