<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="auth0.css" rel="stylesheet" />
    <script src="auth0.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div>Note: the auth0.min.js script taken from the Auth0 CDN was modified to remove injection of Recaptcha script tag.</div>

      <button id="auth0" class="btn btn-primary">LOGIN WITH AUTH0</button>

      <pre id="auth0-data"></pre>
  </body>
</html>
