<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="openid.css" rel="stylesheet" />
    <script src="openid.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <button id="openid" class="btn btn-primary">LOGIN WITH OPENID</button>

      <pre id="openid-data"></pre>
    </div>
  </body>
</html>
