<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chrome Tutorial</title>

    <script src="/scripts/vendor/tailwind.js"></script>
    <script src="/scripts/vendor/bootstrap.js"></script>
    <link href="/styles/vendor/bootstrap.css" rel="stylesheet" />
    <link href="/styles/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="chrome-tutorial.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="grid auto-rows-min place-items-stretch gap-8 max-w-5xl example-wrapper"
    >
      <p>
        This example is based off the
        <a
          href="https://developer.chrome.com/docs/extensions/mv3/getstarted/"
          target="blank"
          class="btn-link"
          >Google Chrome browser extension tutorial</a
        >
      </p>

      <div id="buttonDiv"></div>

      <button id="changeColor" style="width: 120px">Update color</button>
    </div>

    <script src="chrome-tutorial.js" type="module"></script>
  </body>
</html>
