<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/assets.js"></script>

    <link href="chrome-tutorial.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid auto-rows-min place-items-center gap-8 example-wrapper">
      <div>
        <p>
          This example is based off the
          <a
            href="https://developer.chrome.com/docs/extensions/mv3/getstarted/"
            target="blank"
            class="btn-link"
            >Google Chrome browser extension tutorial</a
          >
        </p>
      </div>

      <div id="buttonDiv"></div>

      <button id="changeColor" style="width: 120px">Update color</button>
    </div>

    <script src="chrome-tutorial.js" type="module"></script>
  </body>
</html>
