<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" src="/scripts/vendor/shared.js"></script>
    <link href="/styles/shared.css" rel="stylesheet" />

    <link href="chrome-tutorial.css" rel="stylesheet" />
    <script src="chrome-tutorial.js" type="module" defer></script>
  </head>
  <body>
    <div id="content">
      <div id="buttonDiv"></div>

      <div>
        <button id="changeColor" class="btn btn-secondary">Update color</button>
      </div>
    </div>
  </body>
</html>
